*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color :rgb(30, 27, 27) !important;
}
.body_id{
    width: 100vw;
    height: 100vh;
}
.main_body{
    width: 100vw !important;
    height: 100vh !important;
    /* background-color :rgb(30, 27, 27); */
    padding-bottom: 300px;
  
}


.img_div img{
    width: 200px;
    height: 200px;
    
}
/* .container-fluid{
    min-height: 100%;
} */
.card_box{
    color:grey;
}
.main_card{
    width: 100px !important;
    height: 100px !important;
    background-color: #fff;
    margin: 10px !important;
    text-align: center !important;
   
}
nav ul li a:hover {
    background-color: #fff !important;
}
.link_tag{
    background-color: #fff !important;
}
.about_page{
    flex: wrap;
}

