
{% extends 'core/home.html' %}
{% load static %}

{% block content %}
<h1 class="text-white ">service</h1>
<hr class="border border-white mb-5">
<div class="text-white">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
   Molestias, expedita saepe, veritatis necessitatibus excepturi voluptates sunt mollitia et voluptate natus ex voluptatem vitae provident rerum. Esse ut dolor ipsa ipsam, officiis obcaecati eos debitis architecto laudantium sed exercitationem aliquam consectetur nostrum soluta expedita vero corporis, optio quidem earum quam rem, illo laboriosam possimus. Consequatur tenetur quis aliquam porro omnis reprehenderit ratione velit eius amet perspiciatis fugit asperiores atque fuga aspernatur saepe sed, error consequuntur sequi minima sit dolorem accusantium. Quaerat vero quidem quos repellat placeat? Molestiae cupiditate, eaque sit beatae non
   quas at vitae numquam dolorem eligendi laborum vero qui.</p>
</div>

<div>
<a class=" btn btn-outline-light" href="{% url 'contact' %}">Contact</a>

</div>


{% endblock content %}