{% extends 'core/home.html' %}
{% load static %}
{% block content %}
 {% comment %} <div class="about_page text-white pb-5">
 <h1 class="my-4">Skills</h1>
 <hr class="border-bottom border-white">
 <div class="row">
 <div class="col-md-4 main_card">
    <div class="card" >
  <img class="img-fluid" src="https://images.pexels.com/photos/5926382/pexels-photo-5926382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
  <div class="card-body card_box">
    <h5 class="card-title">Web Developer</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
</div>
 <div class="col-md-4 main_card">
  <div class="card" >
  <img class="img-fluid" src="https://images.pexels.com/photos/248528/pexels-photo-248528.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
  <div class="card-body card_box">
    <h5 class="card-title">Android Developer</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
  </div>
</div>
 
 </div>
 <div class="col-md-4 main_card">
  <div class="card" >
  <img class="img-fluid" src="https://media.istockphoto.com/photos/writing-note-showing-wordpress-picture-id1252385498?s=612x612" alt="...">
  <div class="card-body card_box">
    <h5 class="card-title">Wordpress Developer</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
 
 </div>
 </div>
 
 </div> {% endcomment %}


 <div class="row">
     <div class="col-md-4">
      <div class="card" >
        <img class="img-fluid" src="https://images.pexels.com/photos/5926382/pexels-photo-5926382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="...">
        <div class="card-body card_box">
          <h5 class="card-title">Mern Stack</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>

     </div>
     <div class="col-md-4">
      <div class="card" >
        <img class="img-fluid" src="https://images.pexels.com/photos/248528/pexels-photo-248528.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
        <div class="card-body card_box">
          <h5 class="card-title">Django</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>

     </div>
     <div class="col-md-4">
      <div class="card" >
        <img class="img-fluid" src="https://images.pexels.com/photos/1181671/pexels-photo-1181671.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
        <div class="card-body card_box">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
      </div>

     </div>

 </div>


{% endblock content %}